/**
 * -----------------------------------------------------------------------
 *                              Color Palette
 * -----------------------------------------------------------------------
 */
$c0: rgba(0, 0, 0, 0);
$c1: #ffffff;
$c2: #000000;
$c3: #9467C2;
$c4: #6E73DD;
$c5: #99E489;
$c6: #EEF171;
$c7: #FABD6D;
$c8: #DF6D6D;
$c9: #BDBABA;
