/**
 * -----------------------------------------------------------------------
 *                                Reset CSS
 * -----------------------------------------------------------------------
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: 'Dekko', cursive;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: auto;
}
