/**
 * -----------------------------------------------------------------------
 *                              Color Palette
 * -----------------------------------------------------------------------
 */
$c0: rgba(0, 0, 0, 0);
$c1: #ffffff;
$c2: #000000;
$c3: #7F40BE;
$c4: #6E73DD;
$c5: #82DA6F;
$c6: #EEE350;
$c7: #FAA12C;
$c8: #DF6D6D;
$c9: #CFCFCF;
